<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159039375120-4rgid5m63ng5v6d72dd2qfkqbbb8h4ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159039375120-4rgid5m63ng5v6d72dd2qfkqbbb8h4ka</string>
	<key>API_KEY</key>
	<string>AIzaSyCQIb416bTklZM4aU8iRYKa_KDXbqGo7ls</string>
	<key>GCM_SENDER_ID</key>
	<string>159039375120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lottoMobile</string>
	<key>PROJECT_ID</key>
	<string>lotto-98a02</string>
	<key>STORAGE_BUCKET</key>
	<string>lotto-98a02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159039375120:ios:951b3b9800a4e562da4795</string>
</dict>
</plist>